<h1>View Client</h1>

<h3><%= "Name: #{@client.first_name} #{@client.last_name}" %></h3>
<h3><%= "Hair Style: #{@client.hair_style}" %></h3>
<h3><%= "Preferred Appointment: #{@client.preferred_appointment}" %></h3><br>
<br>
<a href="/clients">back</a>
