<h1>Clients</h1>

<a href="/clients/new">Create New Client</a>
<br>
<br>
<ul>
  <% @clients.each do |client| %>
    <li>
      <%= client.first_name %>
      <a href="/clients/<%= client.id %>/show">Show</a>
      <a href="/clients/<%= client.id %>/edit">Edit</a>
      <a href="/clients/<%= client.id %>/delete">Delete</a>
    </li>
  <% end %>
</ul>

<a href="/">Back</a>
