<h1>Add New Stylist</h1>

<div class= "container">
  <form action="/stylist/create" method="post">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
    </div><br>
    <div class="form-group">
      <label>Date of Employment</label>
      <input type="text" class="form-control" id="date_of_employment" name="date_of_employment">
    </div><br>
    <div class="form-group">
      <label>Certification From</label>
      <input type="text" class="form-control" id="certification_from" name="certification_from">
    </div><br>
    <div class="form-group">
      <label>Certification Completed</label>
      <input type="text" class="form-control" id="certification_completed" name="certification_completed">
    </div><br>
    <button type="submit" class="btn btn-default">Submit</button>
  </form><br>
</div>

<a href="/clients">Back</a>
