<h1><%= "Assign Clients to #{@stylist.first_name}" %></h1>

<ul>
  <% @clients.each do |client| %>
    <% unless client.stylist_id > 0 %>
      <li>
        <%= "Client  #{client.first_name} #{client.last_name}" %>
        <a href="/stylist/<%= @stylist.id %>/add_clients/<%= client.id %>">Add</a>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<br>
<a href="/stylists">Back</a>
